<!-- views/index.hbs -->
      <div>
        <img class="card-img-top image-beer" src="/images/beer.png"
            alt="beer-glass">
            <div class="buttons-subpages">
        <a href="/beers" class="btn btn-primary buttons-style">Check the Beers!</a>
        <a href="/random-beer" class="btn btn-primary buttons-style">Check a Random Beer!</a>
        </div>
        </div>
      </div>

